/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2014, 3:04:05 PM
    Author     : Adnane
*/

.spreadsheet-cell.error{
    -fx-background-color: #E74C3C ;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 11;
}

.spreadsheet-cell.novalue{
    -fx-background-color: #C5EFF7 ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 11;
}


.spreadsheet-cell.black{
    -fx-background-color: #000000 ;
    -fx-text-fill: #ffffff;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;

}
.spreadsheet-cell.green{
    -fx-background-color: #1abc9c ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.lightgreen{
    -fx-background-color: #40d47e;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.blue{
    -fx-background-color: #3498db ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;

}
.spreadsheet-cell.heavyblue{
    -fx-background-color: #2980b9 ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.amethyst{
    -fx-background-color: #9b59b6;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.wisteria{
    -fx-background-color: #8e44ad ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;

}
.spreadsheet-cell.yellow{
    -fx-background-color: #f1c40f ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.rose{
    -fx-background-color: #ff1f83;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.red{
    -fx-background-color: #e67e22 ;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}
.spreadsheet-cell.heavyred{
    -fx-background-color: #e74c3c;
    -fx-font-weight:  bold;
    -fx-background-insets: 0, 0 1 1 0;
    -fx-alignment: center;
    -fx-font-size : 12;
}

/* 
.check-box:selected .mark {
       -fx-background-color:blue ;
       -fx-mark-highlight-color:yellow; 
       -fx-mark-color:red;
}

.check-box .mark {
   -fx-background-color: transparent;
   -fx-background-insets: 1 0 -1 0, 0;
   -fx-padding: 0.333333em; 
   -fx-shape: "M0,6L6,0H8L4,8H2Z";
}

*/
